-- Add NEEDS_UPDATE to inventory status constraint
-- First, check current constraint
SELECT conname, consrc 
FROM pg_constraint 
WHERE conrelid = 'inventory'::regclass 
AND conname LIKE '%status%';

-- Drop existing constraint if exists
ALTER TABLE public.inventory DROP CONSTRAINT IF EXISTS inventory_status_check;

-- Add new constraint with NEEDS_UPDATE
ALTER TABLE public.inventory 
ADD CONSTRAINT inventory_status_check 
CHECK (status IN ('AVAILABLE', 'SOLD', 'RESERVED', 'NEEDS_UPDATE'));
