-- Check current inventory status constraint (PostgreSQL 12+)
SELECT 
    conname as constraint_name,
    pg_get_constraintdef(oid) as constraint_definition
FROM pg_constraint 
WHERE conrelid = 'inventory'::regclass 
AND conname LIKE '%status%';

-- Drop existing constraint if exists
ALTER TABLE public.inventory DROP CONSTRAINT IF EXISTS inventory_status_check;

-- Add new constraint with NEEDS_UPDATE
ALTER TABLE public.inventory 
ADD CONSTRAINT inventory_status_check 
CHECK (status IN ('AVAILABLE', 'SOLD', 'RESERVED', 'NEEDS_UPDATE'));
