-- Updated constraint without RESERVED
-- Drop existing constraint
ALTER TABLE public.inventory DROP CONSTRAINT inventory_status_check;

-- Add new constraint with NEEDS_UPDATE (without RESERVED)
ALTER TABLE public.inventory 
ADD CONSTRAINT inventory_status_check 
CHECK (status IN ('AVAILABLE', 'SOLD', 'NEEDS_UPDATE'));
